{% extends 'base.html' %}
{% load materializecss %}

{% block css %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
{% endblock css %}

{% block title %}
{% endblock title %}

{% block content %}
<div class="card-panel grey lighten-4" style="width: 1000px;">
	<table class="highlight centered">
		<thead>
			<tr>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Tipo de Documento</th>
				<th>Documento</th>
				<th>Fecha de Nacimiento</th>
				<th>Correo Electrónico</th>
				<th>Lugar de Residencia</th>
				<th>Teléfono</th>
				<th>Usuario</th>
				<th>
					<a href="{% url 'datos:user_insert' %}" class="btn btn-outline-success">
						<i class="material-icons">person_add_alt_1</i>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for persona in persona_list %}
			<tr>
				<td>{{persona.nombres}}</td>
				<td>{{persona.apellidos}}</td>
				<td>{{persona.tipoDocumento}}</td>
				<td>{{persona.documento}}</td>
				<td>{{persona.fechaNacimiento}}</td>
				<td>{{persona.email}}</td>
				<td>{{persona.lugarResidencia}}</td>
				<td>{{persona.teléfono}}</td>
				<td>{{persona.usuario}}</td>
				<td>
					<a href="{% url 'datos:user_update' persona.id %}" class="btn text-secondary">
						<i class="material-icons">edit</i>
					</a>
					<form action="{% url 'datos:user_delete' persona.id %}"  method="POST">
						{% csrf_token %}
						<button class="btn text-secondary">
							<i class="material-icons">person_remove</i>
						</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
		    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
		    $('select').formSelect();
		});
	</script>
	
{% endblock scripts %}