{% extends 'base.html' %}
{% load materializecss %}

{% block css %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
{% endblock css %}

{% block title %}
{% endblock title %}

{% block content %}

<div class="card-panel grey lighten-4">
	<h3 class="center">Registro Usuario</h3>
	<form action="" method="POST">
		{% csrf_token %}
		<div class="row">
			{{ form.nombres|materializecss:'custom_size=m6' }}
			{{ form.apellidos|materializecss:'custom_size=m6' }}
		</div>
		<div class="row">
			{{ form.fechaNacimiento|materializecss:'custom_size=m4' }}
			{{ form.tipoDocumento|materializecss:'custom_size=m4' }}
			{{ form.documento|materializecss:'custom_size=m4' }}
		</div>
		<div class="row">
			{{ form.lugarResidencia|materializecss:'custom_size=m4' }}
			{{ form.teléfono|materializecss:'custom_size=m4' }}
			{{ form.email|materializecss:'custom_size=m4' }}
		</div>
		<div class="row">
			{{ form.usuario|materializecss:'custom_size=m4' }}
			{{ form.password|materializecss:'custom_size=m4' }}
			{{ form.confirmarPassword|materializecss:'custom_size=m4' }}
		</div>
		<a href="{% url 'datos:user_list' %}" class="waves-effect waves light btn-large">
			<i class="material-icons">view_headline</i>
		</a>
		<button type="submit" class="waves-effect waves light btn-large right">
			<i class="material-icons">save</i>
		</button>
	</form>
</div>

{% endblock content %}

{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
		    $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
		    $('select').formSelect();
		});
	</script>
{% endblock scripts %}